<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="Nancy.Validation.FluentValidation" version="1.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.1" targetFramework="net45" />
</packages>